## Preprocessing

In [100]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
import os
from tensorflow.keras.callbacks import ModelCheckpoint

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [101]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df_drop = application_df.drop(["EIN", "NAME"],axis=1)
application_df_drop.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [102]:
# Determine the number of unique values in each column.
application_df_drop.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [103]:
# Determine the values counts for the Application Type
bin_application_type = application_df_drop

application_type_values = bin_application_type['APPLICATION_TYPE'].value_counts()
print(application_type_values)

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [104]:
# Need to bin the low application type count items into a common type "OTHER".  
application_types_to_replace = list(application_type_values[application_type_values < 700].index)

for applications in application_types_to_replace:
    bin_application_type['APPLICATION_TYPE'] = bin_application_type['APPLICATION_TYPE'].replace(applications, "OTHER")

In [105]:
# Verify the low count application types have been binned into the "OTHER" category
bin_application_type['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
OTHER      804
T8         737
T7         725
Name: APPLICATION_TYPE, dtype: int64

In [106]:
# Look at CLASSIFICATION value counts for binning
bin_classification = bin_application_type

classification_values = bin_classification['CLASSIFICATION'].value_counts()
print(classification_values)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [107]:
# You may find it helpful to look at CLASSIFICATION value counts >1
bin_classification_alt = classification_values[classification_values > 1]
bin_classification_alt

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [108]:
# Choose a cutoff value and create a list of classifications to be replaced
classifications_to_replace = list(classification_values[classification_values < 1000].index)

for classification in classifications_to_replace:
    bin_classification['CLASSIFICATION'] = bin_classification['CLASSIFICATION'].replace(classification, "OTHER")

In [109]:
# Check to make sure binning was successful
bin_classification['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
OTHER     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [110]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df_dummies = pd.get_dummies(bin_classification)
application_df_dummies

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_OTHER,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,1,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [111]:
# Split our preprocessed data into our features and target arrays
y = application_df_dummies["IS_SUCCESSFUL"].values
X = application_df_dummies.drop(["IS_SUCCESSFUL"],axis=1).values

In [112]:
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [113]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [114]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=16, activation="relu", input_dim=42))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=16, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_14"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_32 (Dense)             (None, 16)                688
_________________________________________________________________
dense_33 (Dense)             (None, 16)                272
_________________________________________________________________
dense_34 (Dense)             (None, 1)                 17
=================================================================
Total params: 977
Trainable params: 977
Non-trainable params: 0
_________________________________________________________________

In [115]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [116]:
# Train the model
#  YOUR CODE GOES HERE

os.makedirs("checkpoints/",exist_ok=True)
checkpoint_path = "checkpoints/weights.{epoch:02d}.hdf5"

cp_callback = ModelCheckpoint(
    filepath = checkpoint_path,
    verbose=1,
    save_weights_only=True,
    save_frequency=1000)

fit_model = nn.fit(X_train_scaled, y_train, epochs=50, callbacks=[cp_callback])

Epoch 1/50
790/804 [============================>.] - ETA: 0s - loss: 0.5880 - accuracy: 0.7133
Epoch 00001: saving model to checkpoints\weights.01.hdf5
804/804 [==============================] - 0s 587us/step - loss: 0.5877 - accuracy: 0.7134
Epoch 2/50
775/804 [===========================>..] - ETA: 0s - loss: 0.5597 - accuracy: 0.7299
Epoch 00002: saving model to checkpoints\weights.02.hdf5
804/804 [==============================] - 0s 596us/step - loss: 0.5602 - accuracy: 0.7296
Epoch 3/50
769/804 [===========================>..] - ETA: 0s - loss: 0.5573 - accuracy: 0.7301
Epoch 00003: saving model to checkpoints\weights.03.hdf5
804/804 [==============================] - 0s 601us/step - loss: 0.5563 - accuracy: 0.7310
Epoch 4/50
768/804 [===========================>..] - ETA: 0s - loss: 0.5547 - accuracy: 0.7310
Epoch 00004: saving model to checkpoints\weights.04.hdf5
804/804 [==============================] - 0s 602us/step - loss: 0.5548 - accuracy: 0.7308
Epoch 5/50
777/804 [===========================>..] - ETA: 0s - loss: 0.5537 - accuracy: 0.7323
Epoch 00005: saving model to checkpoints\weights.05.hdf5
804/804 [==============================] - 0s 596us/step - loss: 0.5536 - accuracy: 0.7323
Epoch 6/50
771/804 [===========================>..] - ETA: 0s - loss: 0.5512 - accuracy: 0.7335
Epoch 00006: saving model to checkpoints\weights.06.hdf5
804/804 [==============================] - 0s 601us/step - loss: 0.5520 - accuracy: 0.7331
Epoch 7/50
775/804 [===========================>..] - ETA: 0s - loss: 0.5518 - accuracy: 0.7312
Epoch 00007: saving model to checkpoints\weights.07.hdf5
804/804 [==============================] - 0s 596us/step - loss: 0.5515 - accuracy: 0.7315
Epoch 8/50
765/804 [===========================>..] - ETA: 0s - loss: 0.5482 - accuracy: 0.7344
Epoch 00008: saving model to checkpoints\weights.08.hdf5
804/804 [==============================] - 0s 603us/step - loss: 0.5499 - accuracy: 0.7332
Epoch 9/50
750/804 [==========================>...] - ETA: 0s - loss: 0.5501 - accuracy: 0.7330
Epoch 00009: saving model to checkpoints\weights.09.hdf5
804/804 [==============================] - 0s 617us/step - loss: 0.5497 - accuracy: 0.7334
Epoch 10/50
775/804 [===========================>..] - ETA: 0s - loss: 0.5485 - accuracy: 0.7330
Epoch 00010: saving model to checkpoints\weights.10.hdf5
804/804 [==============================] - 0s 597us/step - loss: 0.5491 - accuracy: 0.7328
Epoch 11/50
735/804 [==========================>...] - ETA: 0s - loss: 0.5495 - accuracy: 0.7312
Epoch 00011: saving model to checkpoints\weights.11.hdf5
804/804 [==============================] - 1s 632us/step - loss: 0.5486 - accuracy: 0.7326
Epoch 12/50
763/804 [===========================>..] - ETA: 0s - loss: 0.5471 - accuracy: 0.7335
Epoch 00012: saving model to checkpoints\weights.12.hdf5
804/804 [==============================] - 0s 606us/step - loss: 0.5480 - accuracy: 0.7323
Epoch 13/50
764/804 [===========================>..] - ETA: 0s - loss: 0.5480 - accuracy: 0.7334
Epoch 00013: saving model to checkpoints\weights.13.hdf5
804/804 [==============================] - 0s 604us/step - loss: 0.5479 - accuracy: 0.7340
Epoch 14/50
761/804 [===========================>..] - ETA: 0s - loss: 0.5467 - accuracy: 0.7342
Epoch 00014: saving model to checkpoints\weights.14.hdf5
804/804 [==============================] - 0s 609us/step - loss: 0.5470 - accuracy: 0.7343
Epoch 15/50
783/804 [============================>.] - ETA: 0s - loss: 0.5464 - accuracy: 0.7345
Epoch 00015: saving model to checkpoints\weights.15.hdf5
804/804 [==============================] - 0s 590us/step - loss: 0.5465 - accuracy: 0.7342
Epoch 16/50
761/804 [===========================>..] - ETA: 0s - loss: 0.5459 - accuracy: 0.7350
Epoch 00016: saving model to checkpoints\weights.16.hdf5
804/804 [==============================] - 0s 606us/step - loss: 0.5468 - accuracy: 0.7342
Epoch 17/50
767/804 [===========================>..] - ETA: 0s - loss: 0.5450 - accuracy: 0.7346
Epoch 00017: saving model to checkpoints\weights.17.hdf5
804/804 [==============================] - 0s 603us/step - loss: 0.5464 - accuracy: 0.7333
Epoch 18/50
759/804 [===========================>..] - ETA: 0s - loss: 0.5466 - accuracy: 0.7335
Epoch 00018: saving model to checkpoints\weights.18.hdf5
804/804 [==============================] - 0s 606us/step - loss: 0.5457 - accuracy: 0.7346
Epoch 19/50
759/804 [===========================>..] - ETA: 0s - loss: 0.5465 - accuracy: 0.7333
Epoch 00019: saving model to checkpoints\weights.19.hdf5
804/804 [==============================] - 0s 609us/step - loss: 0.5461 - accuracy: 0.7338
Epoch 20/50
761/804 [===========================>..] - ETA: 0s - loss: 0.5451 - accuracy: 0.7363
Epoch 00020: saving model to checkpoints\weights.20.hdf5
804/804 [==============================] - 0s 607us/step - loss: 0.5457 - accuracy: 0.7353
Epoch 21/50
781/804 [============================>.] - ETA: 0s - loss: 0.5453 - accuracy: 0.7352
Epoch 00021: saving model to checkpoints\weights.21.hdf5
804/804 [==============================] - 0s 593us/step - loss: 0.5452 - accuracy: 0.7355
Epoch 22/50
754/804 [===========================>..] - ETA: 0s - loss: 0.5463 - accuracy: 0.7333
Epoch 00022: saving model to checkpoints\weights.22.hdf5
804/804 [==============================] - 0s 610us/step - loss: 0.5452 - accuracy: 0.7343
Epoch 23/50
780/804 [============================>.] - ETA: 0s - loss: 0.5448 - accuracy: 0.7349
Epoch 00023: saving model to checkpoints\weights.23.hdf5
804/804 [==============================] - 0s 595us/step - loss: 0.5452 - accuracy: 0.7348
Epoch 24/50
769/804 [===========================>..] - ETA: 0s - loss: 0.5446 - accuracy: 0.7354
Epoch 00024: saving model to checkpoints\weights.24.hdf5
804/804 [==============================] - 0s 603us/step - loss: 0.5446 - accuracy: 0.7353
Epoch 25/50
729/804 [==========================>...] - ETA: 0s - loss: 0.5436 - accuracy: 0.7357
Epoch 00025: saving model to checkpoints\weights.25.hdf5
804/804 [==============================] - 1s 632us/step - loss: 0.5439 - accuracy: 0.7349
Epoch 26/50
767/804 [===========================>..] - ETA: 0s - loss: 0.5440 - accuracy: 0.7365
Epoch 00026: saving model to checkpoints\weights.26.hdf5
804/804 [==============================] - 0s 603us/step - loss: 0.5444 - accuracy: 0.7363
Epoch 27/50
758/804 [===========================>..] - ETA: 0s - loss: 0.5443 - accuracy: 0.7350
Epoch 00027: saving model to checkpoints\weights.27.hdf5
804/804 [==============================] - 0s 608us/step - loss: 0.5439 - accuracy: 0.7355
Epoch 28/50
773/804 [===========================>..] - ETA: 0s - loss: 0.5437 - accuracy: 0.7366
Epoch 00028: saving model to checkpoints\weights.28.hdf5
804/804 [==============================] - 0s 599us/step - loss: 0.5439 - accuracy: 0.7364
Epoch 29/50
767/804 [===========================>..] - ETA: 0s - loss: 0.5434 - accuracy: 0.7355
Epoch 00029: saving model to checkpoints\weights.29.hdf5
804/804 [==============================] - 0s 602us/step - loss: 0.5440 - accuracy: 0.7353
Epoch 30/50
757/804 [===========================>..] - ETA: 0s - loss: 0.5442 - accuracy: 0.7363
Epoch 00030: saving model to checkpoints\weights.30.hdf5
804/804 [==============================] - 0s 609us/step - loss: 0.5440 - accuracy: 0.7362
Epoch 31/50
764/804 [===========================>..] - ETA: 0s - loss: 0.5438 - accuracy: 0.7368
Epoch 00031: saving model to checkpoints\weights.31.hdf5
804/804 [==============================] - 0s 606us/step - loss: 0.5439 - accuracy: 0.7364
Epoch 32/50
741/804 [==========================>...] - ETA: 0s - loss: 0.5450 - accuracy: 0.7347
Epoch 00032: saving model to checkpoints\weights.32.hdf5
804/804 [==============================] - 1s 622us/step - loss: 0.5436 - accuracy: 0.7358
Epoch 33/50
781/804 [============================>.] - ETA: 0s - loss: 0.5427 - accuracy: 0.7378
Epoch 00033: saving model to checkpoints\weights.33.hdf5
804/804 [==============================] - 0s 596us/step - loss: 0.5435 - accuracy: 0.7368
Epoch 34/50
751/804 [===========================>..] - ETA: 0s - loss: 0.5437 - accuracy: 0.7369
Epoch 00034: saving model to checkpoints\weights.34.hdf5
804/804 [==============================] - 0s 614us/step - loss: 0.5433 - accuracy: 0.7373
Epoch 35/50
718/804 [=========================>....] - ETA: 0s - loss: 0.5448 - accuracy: 0.7361
Epoch 00035: saving model to checkpoints\weights.35.hdf5
804/804 [==============================] - 1s 634us/step - loss: 0.5433 - accuracy: 0.7368
Epoch 36/50
757/804 [===========================>..] - ETA: 0s - loss: 0.5434 - accuracy: 0.7355
Epoch 00036: saving model to checkpoints\weights.36.hdf5
804/804 [==============================] - 0s 612us/step - loss: 0.5430 - accuracy: 0.7360
Epoch 37/50
760/804 [===========================>..] - ETA: 0s - loss: 0.5412 - accuracy: 0.7380
Epoch 00037: saving model to checkpoints\weights.37.hdf5
804/804 [==============================] - 0s 607us/step - loss: 0.5427 - accuracy: 0.7365
Epoch 38/50
771/804 [===========================>..] - ETA: 0s - loss: 0.5429 - accuracy: 0.7359
Epoch 00038: saving model to checkpoints\weights.38.hdf5
804/804 [==============================] - 0s 600us/step - loss: 0.5434 - accuracy: 0.7357
Epoch 39/50
729/804 [==========================>...] - ETA: 0s - loss: 0.5425 - accuracy: 0.7359
Epoch 00039: saving model to checkpoints\weights.39.hdf5
804/804 [==============================] - 1s 631us/step - loss: 0.5429 - accuracy: 0.7357
Epoch 40/50
762/804 [===========================>..] - ETA: 0s - loss: 0.5436 - accuracy: 0.7361
Epoch 00040: saving model to checkpoints\weights.40.hdf5
804/804 [==============================] - 0s 605us/step - loss: 0.5429 - accuracy: 0.7359
Epoch 41/50
771/804 [===========================>..] - ETA: 0s - loss: 0.5418 - accuracy: 0.7368
Epoch 00041: saving model to checkpoints\weights.41.hdf5
804/804 [==============================] - 0s 599us/step - loss: 0.5429 - accuracy: 0.7360
Epoch 42/50
796/804 [============================>.] - ETA: 0s - loss: 0.5426 - accuracy: 0.7357
Epoch 00042: saving model to checkpoints\weights.42.hdf5
804/804 [==============================] - 1s 645us/step - loss: 0.5425 - accuracy: 0.7356
Epoch 43/50
757/804 [===========================>..] - ETA: 0s - loss: 0.5423 - accuracy: 0.7365
Epoch 00043: saving model to checkpoints\weights.43.hdf5
804/804 [==============================] - 0s 611us/step - loss: 0.5428 - accuracy: 0.7363
Epoch 44/50
761/804 [===========================>..] - ETA: 0s - loss: 0.5422 - accuracy: 0.7367
Epoch 00044: saving model to checkpoints\weights.44.hdf5
804/804 [==============================] - 0s 603us/step - loss: 0.5425 - accuracy: 0.7369
Epoch 45/50
763/804 [===========================>..] - ETA: 0s - loss: 0.5421 - accuracy: 0.7370
Epoch 00045: saving model to checkpoints\weights.45.hdf5
804/804 [==============================] - 0s 604us/step - loss: 0.5422 - accuracy: 0.7365
Epoch 46/50
762/804 [===========================>..] - ETA: 0s - loss: 0.5425 - accuracy: 0.7362
Epoch 00046: saving model to checkpoints\weights.46.hdf5
804/804 [==============================] - 0s 607us/step - loss: 0.5423 - accuracy: 0.7368
Epoch 47/50
758/804 [===========================>..] - ETA: 0s - loss: 0.5424 - accuracy: 0.7368
Epoch 00047: saving model to checkpoints\weights.47.hdf5
804/804 [==============================] - 0s 611us/step - loss: 0.5424 - accuracy: 0.7371
Epoch 48/50
766/804 [===========================>..] - ETA: 0s - loss: 0.5424 - accuracy: 0.7377
Epoch 00048: saving model to checkpoints\weights.48.hdf5
804/804 [==============================] - 0s 605us/step - loss: 0.5422 - accuracy: 0.7377
Epoch 49/50
730/804 [==========================>...] - ETA: 0s - loss: 0.5426 - accuracy: 0.7356
Epoch 00049: saving model to checkpoints\weights.49.hdf5
804/804 [==============================] - 1s 625us/step - loss: 0.5421 - accuracy: 0.7368
Epoch 50/50
766/804 [===========================>..] - ETA: 0s - loss: 0.5411 - accuracy: 0.7379
Epoch 00050: saving model to checkpoints\weights.50.hdf5
804/804 [==============================] - 0s 603us/step - loss: 0.5418 - accuracy: 0.7375

In [117]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5571 - accuracy: 0.7257
Loss: 0.5570834279060364, Accuracy: 0.7257142663002014

In [119]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE
nn.save("AlphabetSoupCharity.h5")